* {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

header {
    background-color: #06B7B2;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo_header {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#logo_header>img {
    width: 55px;
    height: 55px;
}

#logo_header>h2 {
    padding-left: 20px;
}

#menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu>a {
    text-decoration: none;
    color: white;
    width: 10%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#menu>a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.45s;
}
#MenuPrincipal {
    width: 30vh;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    background-color: #06B7B2;

}
#procesamiento.accordion-header{
    background-color: #06B7B2;
}

#hist_masterbikes {
    display: flex;
    width: 80%;
    padding: 20px;
    margin: 20px 0 20px 9%;
    background-color: black;
    color: white;
}

body {
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: url("");}

#hist_masterbikes>img {
    width: 700px;
    margin-right: 15px;
}

#parrafo_hist>h1 {
    color: rgb(212, 175, 55);
}

footer {
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

#redes_sociales {
    display: flex;
    align-items: center;
}

#redes_sociales>a>img {
    width: 60px;
    height: 60px;
}

.main{
    display: flex;
}


.general{
    width: 100%;
    display: inline-block;
    justify-content: center;
}

    .general-resultados{
        width: 80%;
        margin: auto;
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
    }
        .pag-resultados{
            background-color:black;
            width: 20%;
        }

        .user{
            background-color:black;
            width: 30%;
            margin-left: 2%;
        }

    .resultados{
        background-color: rgb(248, 247, 247);
        border: 30px;
        width: 80%;
        height: 80vh;
        margin: auto;
        margin-top: 2%;
        
    }
    
        .main-resultados{
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    
            #select_resultados{
                margin: auto;
                margin-top: 2%;
                width: 70%;
            }
    
            #btn_resultados{
                margin-top: 2%;
                width: 10%;
            }
        

            .main-directorios{
                margin: auto;
                display: flex;
                justify-content: space-around;
            }
        

                .lugar{
                    width: 30%;
                    height: 25vh;
                    display: inline-block;
                    justify-content: center;
                    margin: auto;
                    
                }
                    .home{
                        background-color: black;
                        width: 40%;
                        height: 40%;
                        margin: auto;
                        margin-right: 0%;
                    }

                    .dir{
                        background-color: #06B7B2;
                        width: 40%;
                        height: 40%;
                        margin: auto;
                        margin-top: 10%;
                        margin-right: 0%;
                    }


                .directorios{
                    background-color: #ffffff;
                    border: 1px solid #000000;
                    width: 52%;
                    height: 30vh;
                    margin: auto;
                    margin-right: 15%;
                    margin-top: 2%;
                    margin-bottom: 2%;
                    padding: 1%;
                    display: flex;
                    justify-content: space-between;
                }

                

                    .carpetas{
                        background-color: rgb(255, 255, 255);
                        border-right: 1px solid#000000;
                        width: 50%;
                        padding: 1%;
                        
                    }

                    .archivos{
                        background-color: rgb(255, 255, 255);
                        border-left: 1px solid#000000;
                        width: 50%;
                        padding: 1%;
                    }


                .b_confirmar{
                    margin-top: 2%;
                    width: 50%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                }


#logo_footer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#logo_footer>img {
    width: 200px;
    height: 200px;
}


/* dashboard */
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }

/* Directorio */
.directory, .file {
    margin: 5px 0;
    cursor: pointer;
}
.directory {
    font-weight: bold;
}
.selected {
    background-color: #cce5ff;
}
#arriba{
    display: flex;
    justify-content: space-between;
}
#Titulo{
    background-color: #000000;
    color: #ffffff;
    width: 20%;
    height: 5vh;
    border: 30px;
    /* margin: auto; */
    margin-top: 2%;
    margin-left: 10%; 
    margin-bottom: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
}

#usuario{
    background-color: #000000;
    color: #ffffff;
    width: 20%;
    height: 5vh;
    border: 30px;
    /* margin: auto; */
    margin-top: 2%;
    margin-left: 40%; 
    margin-bottom: 2%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}